* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 45px;
  color: #fff;
}

#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0062ff 50%, #040042);
}

#scoreboard-container {
  width: 250px;
  height: 250px;
}

#container-team1,
#container-team2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 85px;
}

.team,
#container-team1 .goals,
#container-team2 .goals,
#cronometer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#container-team1 {
  background-color: #1a2e4f;
}

#container-team2 {
  background-color: #6a2e4f;
}

#container-team1 .goals,
#container-team2 .goals {
  background-color: #0b9797;
}

#cronometer {
  background-color: #2e5a6b;
}

#cronometer #minutes, #seconds,
.goals span {
  font-size: 70px;
}